@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* @media print {
  body * {
    display: none;
  }
  #print-section,
  #print-section * {
    display: block;
  }
  #print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
} */
